include _vars.pug
doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="./assets/css/main.css")
		title Nota PAS-UEM
		link(rel="apple-touch-icon" sizes="180x180" href="./assets/img/apple-touch-icon.png")
		link(rel="icon" type="image/png" href="./assets/img/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="./assets/img/favicon-16x16.png" sizes="16x16")
		link(rel="manifest" href="./assets/img/manifest.json")
		link(rel="mask-icon" href="./assets/img/safari-pinned-tab.svg" color="#5bbad5")
		link(rel="shortcut icon" href="./assets/img/favicon.ico")
		meta(name="msapplication-config" content="./assets/img/browserconfig.xml")
		meta(name="theme-color" content="#0e6655")

	body
		a.fork(href="https://github.com/MathCarnelutt/Nota-PAS" target="_blank"): span Fork on Github
		header
			h1 Cálculo de nota PAS-UEM
		section.form: form
			input(name="calcular" value="true" type="hidden")
			fieldset.form-info
				label Série
					select.form-serie(name="serie" required)
						option(value="" selected) -
						option(value="1ano") 1º ano
						option(value="2ano") 2º ano
						option(value="3ano") 3º ano

				label Língua Estrangeira
					select.form-lingua-estrangeira(name="lingua-estrangeira" required)
						option(value="" selected) -
						option(value="ingles") Inglês
						option(value="espanhol") Espanhol
						option(value="frances") Francês

				label Nota redação
					input.form-redacao(placeholder="000"
						name="redacao"
						maxlength="3"
						autocomplete="off"
						type="number"
						required
						min="0" max="120" step="1" value="0"
					)

				label Ano da prova
					select.form-anos(name="ano" required)
						option(value="" selected) -
						for ano in anos
							option(value=ano) #{ano}

				label Curso
					select.form-curso(name="curso" required disabled)
						option(value="" selected) -
						for curso in cursos
							option(value=cursoFormat(curso)) #{curso}

			fieldset.form-quest
				- for (var i = 01; i <= 40; i++)
					input.questao(placeholder=n(i)
						name="qst-" + i
						maxlength="2"
						autocomplete="off"
						type="number"
						required
						min="0" max="31" step="1"
					)

			input.btn-calcular(type="submit" value="Calcular")
		section.notas
			.notas-resumo
				.nota-total Nota total <span>0 / 360</span>
				.nota-objetivas Nota das questões objetivas <span>0 / 240</span>
				.nota-redacao Nota da Redação <span>0 / 120</span>

			.notas-tabela
				table.tabela-questoes

		footer
			.copyright &copy; Matheus Carnelutt - 2017

	script(src="./assets/js/libs.js")
	script(src="./assets/js/script.js")
	include _analyticstracking.html
