include _vars.pug
doctype html
html#index
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/assets/css/main.css")
		title Nota PAS-UEM

	body
		header
			h1 Cálculo de nota PAS-UEM
		section.form: form
			fieldset.form-info
				label Série
					select.form-serie(name="serie" required)
						option(value="" selected) -
						option(value="1") 1º ano
						option(value="2") 2º ano
						option(value="3") 3º ano

				label Língua Estrangeira
					select.form-lingua-estrangeira(name="linga-estrangeira" required)
						option(value="" selected) -
						option(value="ingles") Inglês
						option(value="espanhol") Espanhol
						option(value="frances") Francês

				label Nota redação
					input.form-redacao(placeholder="000"
						name="redacao"
						maxlength="3"
						autocomplete="off"
						type="number"
						required
						min="0" max="120" step="1" value="0"
					)

				label Ano da prova
					select.form-anos(name="ano" required)
						option(value="" selected) -
						for ano in anos
							option(value=ano) #{ano}

				label Curso
					select.form-curso(name="curso" required disabled)
						option(value="" selected) -
						for curso in cursos
							option(value=cursoFormat(curso)) #{curso}

			fieldset.form-quest
				- for (var i = 01; i <= 40; i++)
					input.questao(placeholder=n(i)
						name="qst-" + i
						maxlength="2"
						autocomplete="off"
						type="number"
						required
						min="0" max="31" step="1"
					)

			input(type="submit" value="Calcular")
		section.notas
			
		footer

	script(src="/assets/js/script.js")
